.btn-primary {
  background-color: #00ed36;
  border-color: #00ed36;
}

body {
  background-color: #282d32;
}

h1, h2, h3, h4, h5, h6, p {
  color: white !important;
}

.fa {
  background-color: #00ed36;
  border-radius: 360px;
}

.section-heading {
  padding-top: 15px;
}

.bg-light {
  background-color: #3a4147 !important;
}

.navbar-toggler, .navbar-toggler-right, .collapsed {
  background-color: #00ed36 !important;
}

.nav-link:hover {
  color: #00ed36 !important;
}

.downloadtext {
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-left: 10px;
}

.useinweb {
  padding-top: 25px;
}

.copyright {
  color: white;
}

.downloadapp {
  text-decoration: none;
}

.privacybox:hover {
  opacity: 0.4;
}

.privacybox {
  border-style: solid;
  border-radius: 8px;
  border-color: #00ed36;
  padding: 20px;
}

.privacybox2 {
  border-style: solid;
  border-radius: 8px;
  border-color: #00ed36;
  padding: 20px;
  text-align: center;
}

.text-uppercase {
  text-align: center;
}

.section-subheading {
  text-align: center;
}

.form-control {
  text-align: center;
}

.col-md-4, .col-md-3, .col-md-6 {
  padding-bottom: 20px;
}

.text-muted {
}

@media screen and (max-width: 600px) {
  .specificwidth {
    font-size: 30px;
    line-height: 1.1 !important;
  }
}

